@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,600;0,700;1,300;1,400&family=Josefin+Sans&display=swap');
.home-container {
    min-height: 100vh;
    position: relative;
    font-family: 'IBM Plex Mono', monospace;
}
.home-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 300px;
    z-index: 9;
}
.home-experience {
    font-size: 22px;
}
.home-title {
    color: #01bf71;
    text-shadow: 0 0px 10px rgba(183, 209, 231, 0.884);
}
.overflow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 14, 14, 0.726);
    z-index: 2;
    object-fit: cover;
}
.typewriter-effect {
    display: flex;
    justify-content: center;
    font-family: monospace;
}
  
.typewriter-effect > .text {
    max-width: 0;
    animation: typing 3s steps(var(--characters)) infinite;
    white-space: nowrap;
    overflow: hidden;
}
  
.typewriter-effect:after {
    content: " |";
    animation: blink 1s infinite;
    animation-timing-function: step-end;
}
  
@keyframes typing {
    75%,
    100% {
      max-width: calc(var(--characters) * 1ch);
    }
}
  
@keyframes blink {
    0%,
    75%,
    100% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
}
.center {
    margin-top: 20px;
    position: relative;
}
.btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 2px solid #01bf71;
    outline: none;
    transition: 1s ease-in-out;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
}
.home-cv {
  position: relative;
  z-index: 999;
  font-size: 20px;
}
svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}
.btn:hover {
    transition: 1s ease-in-out;
    background: #01bf71;
}  
.btn:hover svg {
    stroke-dashoffset: -480;
}
.btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}
.btn a {
  text-decoration: none;
  display: block;
  color: white;
}
.content {
    width: 290px;
    font-size: 36px;
    line-height: 40px;
    color: #ecf0f1;
    height: 40px;
    position: relative;
    margin-top: 20px;
  }
  .content:before {
    content: '[';
    position: absolute;
    left: -30px;
    line-height: 40px;
  }
  .content:after {
    content: ']';
    position: absolute;
    right: -30px;
    line-height: 40px;
  }
  .content:after,
  .content:before {
    color: #01bf71;
    font-size: 42px;
    animation: 2s linear 0s normal none infinite opacity;
    -webkit-animation: 2s ease-out 0s normal none infinite opacity;
    -moz-animation: 2s ease-out 0s normal none infinite opacity;
    -o-animation: 2s ease-out 0s normal none infinite opacity;
  }
  .visible {
    float: left;
    font-weight: 600;
    overflow: hidden;
    height: 40px;
  }
  .p {
    display: inline;
    float: left;
    margin: 0;
  }
  .ul {
    margin-top: 0;
    padding-left: 125px;
    text-align: left;
    list-style: none;
    animation: 6s linear 0s normal none infinite change;
    -webkit-animation: 6s linear 0s normal none infinite change;
    -moz-animation: 6s linear 0s normal none infinite change;
    -o-animation: 6s linear 0s normal none infinite change;
  }
  .ul .li {
    line-height: 40px;
    margin: 0;
  }
  @-webkit-keyframes opacity {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes opacity {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes change {
    0% {
      margin-top: 0;
    }
    15% {
      margin-top: 0;
    }
    25% {
      margin-top: -40px;
    }
    40% {
      margin-top: -40px;
    }
    50% {
      margin-top: -80px;
    }
    65% {
      margin-top: -80px;
    }
    75% {
      margin-top: -40px;
    }
    85% {
      margin-top: -40px;
    }
    100% {
      margin-top: 0;
    }
  }
  @keyframes change {
    0% {
      margin-top: 0;
    }
    15% {
      margin-top: 0;
    }
    25% {
      margin-top: -40px;
    }
    40% {
      margin-top: -40px;
    }
    50% {
      margin-top: -80px;
    }
    65% {
      margin-top: -80px;
    }
    75% {
      margin-top: -40px;
    }
    85% {
      margin-top: -40px;
    }
    100% {
      margin-top: 0;
    }
  }

@media screen and (max-width: 425px) {
    .home-content {
        gap: 10px;
        text-align: center;
        line-height: 1;
    }
    .home-experience {
        line-height: 1.5;
        font-size: 22px;
        padding: 0 10px;
    }
    .content {
        width: 200px;
        font-size: 25px;
        line-height: 42px;
    }
    .ul {
        margin-top: 0;
        padding-left: 85px;
    }
    .content:after,
    .content:before {
      font-size: 25px;
    }
}