@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,600;0,700;1,300;1,400&family=Josefin+Sans&display=swap');
.portfolio{
    color: #fff;
    background: #010606;
}
.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* padding-top: 150px; */
    position: relative;
    padding: 30px 0;
}
.portfolio-title {
    font-family: 'IBM Plex Mono', monospace;
    /* position: absolute; */
}
.portafolio-content {
    color: #01bf71;
    font-size: 35px;
    margin-top: 150px;
    position: absolute;
    top: 0;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    gap: 15px;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
}
.card {
    height: 250px;
    width: 300px;
    overflow: hidden;
    margin: auto;
    padding: 10px 30px;
    border-radius: 2%;
    border: 1 solid #01bf71;
    transition: all .4s ease-in-out;
    box-shadow: 0px 0px 15px #01bf71;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card:hover {
    height: 415px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0px 0px 25px #01bf71;
}
.card-img img{
    position: relative;
    border-radius: 4px;
    display: block;
    height: 200px;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}
.card-icon {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 15px 0;
    list-style: none;
}
.card-icon li {
    border-radius: 50%;
    background-color: #fff;
    height: 40px;
    width: 40px;
    margin: 0 10px;
    line-height:40px;
    text-align: center;
    transform: scale(0);
    transition: all 0.5s ease;
}
.card-item { /*agrandar*/
    transform: scale(0);
    opacity: 0;
    transition: all 0.5s ease;
}
.move { /*desplazar*/
    opacity: 0;
    transition: all 0.5s ease;
    transform: translateY(-45px);
}
.card:hover .card-item{
    transform: translateY(0px);
    opacity: 1;
}
.card:hover .move {
    opacity: 1;
    transform: scale(1);
}
.card-icon{
    margin: 0;
}
.card-icon li:nth-child(1) a {
    color: #b40dac;
    font-size: 30px;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: #fff;
    display: block;
    line-height: 40px;
    transition: all 0.3s;
}
.card-icon li:nth-child(2) a {
    color: #0e7bc4;
    font-size: 30px;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: #fff;
    display: block;
    line-height: 40px;
    transition: all 0.3s;
}
.card-icon li a:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px #01bf71;
}
.card-icon li:nth-child(1){
    transition-delay: 0.2s;
}
.card-icon li:nth-child(2){
    transition-delay: 0.4s;
}
.move:nth-child(1){
    transition-delay: 0.2s
}
.move:nth-child(2) {
    transition-delay: 0.4s
}
.card-content {
    margin-top: 20px;
}
.card-content h2{
    font-size:25px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    color: #01bf71
}
.card-info p {
    font-family: 'IBM Plex Mono', monospace;
    font-size:13px;
}
@media screen and (max-width: 768px) {
    
    .portfolio-container {
        padding: 150px;
    }
    .card-container{
        grid-template-columns: 1fr;
        gap: 30px;
        padding-top: 500px;
    }
    .portafolio-content{
        margin-top: 150px;
    }
}