@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,600;0,700;1,300;1,400&family=Josefin+Sans&display=swap');
.about{
    color: #fff;
    background: #010606;
    padding-top: 80px;
}
@media screen and (max-width: 768px) {
    .about{
        padding: 100px 0;
    }
}
.about-container {
    display: grid;
    z-index: 1;
    height: 100vh;
    width: 100%;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    padding: 30px 24px;
    justify-content: center;
}
.row {
    display: grid;
    grid-auto-columns: minmax(auto, 1fr);
    align-items: center;
    grid-template-areas: 'col1 col2';
}
.col-1 {
    margin-bottom: 15px;
    padding: 0 10px;
    grid-area: col1;
}
.col-2 {
    margin-bottom: 15px;
    grid-area: col2;
    display: flex;
    padding: 30px auto;
    padding-left: 100px;
    /* justify-content: center; */
    /* align-items: center; */
}
.col-2 img {
    width: 100%;
}
.about-content {
    max-width: 840px;
    padding-top: 0;
    padding-bottom: 60px;
}
.about-title {
    color: #01bf71;
    text-align: center;
    margin-bottom: 70px;
    font-size: 45px;
    font-family: 'IBM Plex Mono', monospace;
}
.about-text {
    color: rgb(216, 216, 216);
    text-align: center;
    font-size: 27px;
    line-height: 1.5;
}
@media screen and (max-width: 768px) {
    .row {
        grid-template-areas: 
        'col1'
        'col2'
        ;
    }
    .col-2 {
        margin-top: -300px;
    }
    .col-2 img {
        width: 60%;
        margin: 0 auto;
    }
    .about-content {
        max-width: 840px;
        padding-top: 0;
        padding-bottom: 60px;
    }
    .about-title {
        color: #01bf71;
        text-align: center;
        margin-bottom: 30px;
        font-size: 40px;
    }
    .about-text {
        color: rgb(216, 216, 216);
        text-align: center;
        font-size: 17px;
        line-height: 1.5;
    }
}
@media screen and (max-width: 425px ) {
    .about-title {
        font-size: 25px;
    }
}
@media screen and (max-width: 375px) {
    .col-2 img {
        width: 100%;
        margin-left: -45px;
    }
}
@media screen and (max-width: 320px) {
    .col-2 img {
        width: 150%;
        margin-left: -75px;
    }
}
